@import '~bootstrap/scss/bootstrap.scss';
@import '~@breathecode/ui-components/dist/main.css';
@import 'split-pane.scss';

.editor-gitpod{
    .btn{
        border-radius: 0;
        padding: 3px 5px;
        font-size: 15px;
    }
}
body{
    font-family: Verdana, Geneva, sans-serif;
    background: #333333;
}
.bc-readme{
    height: calc(100vh - 40px);
    background: white;
    overflow-y: auto;
    font-size: 16px;
    h1{ font-size: 28px; }
    h2{ font-size: 22px; }
    h3{ font-size: 18px; }
}
.editor-gitpod{
    .bc-readme{
        margin-top: 75px;
        height: calc(100vh - 75px);
    }
}
.prev-next-bar{
    color: white;
    background: #333333;
    padding: 5px;
    .prev-exercise{
        float: right;
    }
    .next-exercise{
        float: right;
    }
}
.editor-gitpod{
    .prev-next-bar{
        width: 100%;
        position: fixed;
        top: 0px;
    }
}
.credits{
    position: fixed;
    font-size: 11px;
    z-index: 10;
    span{
        float: right;
        margin-left: 6px;
    }
    .bclogo{
        width: 30px;
        height: 30px;
    }
    &.top-right{
        right: 10px;
        top: 5px;
    }
    &.top-center{
        left: 50vw;
        top: 5px;
        transform: translateX(-50%);
    }
    &.bottom-center{
        left: 50vw;
        bottom: 5px;
        transform: translateX(-50%);
    }
    &.bottom-left{
        left: 0;
        bottom: 5px;
    }
}
.empty-editor{
    text-align: center;
    width: 100%;
}


.glow{ animation: glow 1s ease-in-out infinite alternate; }
.status-bar.ready .status{ animation: glow 1s ease-in-out infinite alternate; }
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
}