.editor-gitpod{
    .left-menu{
        &.open{ margin-top: 40px; }
    }
}
.left-menu{
    color: #ffffff;
    background: #333333;
    height: 0vh;
    max-height: 0vh;
    overflow-y: auto;
    transition: max-height 1s ease, height 1s ease;
    &.open{ height: auto; max-height: 80vh; padding: 0px 12px 10px 12px; }
    ul{
        margin: 0;
        li{
            padding: 4px;
            margin: 0;
            &:hover{
                cursor: pointer;
                background: rgba($color: #ffffff, $alpha: 0.2)
            }
        }
    }
}