.bc-terminal{
    background: black;
    position: relative;
    width: 100%;
    color: #BDBDBD;
    .collapsable-bar{
        background: #1e1e1e;
        height: 4px;
        text-align: center;
        border: #BDBDBD solid 1px;
        border-left: 0px;
        border-right: 0px;
        &.compiler-error, &.testing-error{
            background: #ee5959;
            height: 6px;
            .status{
                background: #ee5959;
                color: black;
            }
        }
        &.compiler-warning{ background: orange; height: 6px; }
        &.compiler-success, &.testing-success{ background: green; height: 6px; }
        .status{
            font-size: 17px;
            padding: 3px 5px;
            position: absolute;
            left: auto;
            background: black;
            top: -10px;
            transform: translateX(-50%);
            border-radius: 5px;
            border: #BDBDBD solid 1px;
        }
    }
    .button-bar{
        position: absolute;
        top: -20px;
        right: 10px;
        z-index: 3;
        button{
            margin-right: 5px;
            small{
                display: block;
                font-size: 9px;
                margin-top: -4px;
            }
        }
    }
    .logs{
        margin: 0;
        padding: 20px 10px 0px 10px;
        overflow: auto;
        pre code{
            color: #F2F4F5;
        }
    }
}