.status-bar{
    background: #1C1C1C;
    padding: 5px;
    color: white;
    &.fixed{
        position: fixed;
        top: 40px;
        bottom: 0;
        width: 100%;
        height: fit-content;
    }
    .status{
        font-size: 17px;
        padding-left: 10px;
    }
    &.compiler-error, &.testing-error{
        background: #6e0b0b;
    }
    &.compiler-warning{ background: orange; }
    &.compiler-success, &.testing-success{ background: #003d1c; }
    .button-bar{
        margin: 0;
        background: rgba(255, 255, 255, 0.1);
        .btn{ color: white; position: relative; }
        .hint{ position: absolute; top: 39px; left: -1px; display: none; background:rgba(0, 0, 0, 0.8); padding: 5px; font-size: 14px; }
        .btn:hover{
            .hint{ display: block; }
        }
        i{ margin-right: 5px; }
    }
}