@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.status-bar{
    background: #1C1C1C;
    padding: 5px;
    color: white;
    &.fixed{
        position: fixed;
        display: table;
        top: 40px;
        bottom: 0;
        width: 100%;
    }
    .status{
        font-size: 17px;
        padding-left: 10px;
    }
    &.compiler-error, &.testing-error{
        background: #6e0b0b;
    }
    &.compiler-warning{ background: orange; }
    &.compiler-success{ background: #2f3a34; }
    &.testing-success{ background: #006d31; }
    &.compiler-success .action-preview:after{
        content: '↑ Click this button to preview your website';
        position: absolute;
        background: green;
        width: 335px;
        padding: 5px;
        top: 40px;
        left: 0px;
	    animation: float 6s ease-in-out infinite;
    }
    .button-bar{
        margin: 0;
        background: rgba(255, 255, 255, 0.1);
        .btn{ color: white; position: relative; }
        .hint{ position: absolute; top: 39px; left: -1px; display: none; background:rgba(0, 0, 0, 0.8); padding: 5px; font-size: 14px; }
        .btn:hover{
            .hint{ display: block; }
        }
        i{ margin-right: 5px; }
    }
}