.language-switcher{
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    padding: 1px;
    .icon{
        width: 16px;
        height: 17px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        border-radius: 100%;
        background-color: rgba(0,0,0,0.2);
        .current{
            z-index: 10;
        }
    }
    ul{
        display: none;
        position: absolute;
        left: -26px;
        background: white;
        border-radius: 25px;
        li{
            list-style: none;
            display: block;
            margin: 0;
            padding: 1px 2px;
            .icon:hover{
                background-size: 150%;
            }
        }
        li:first-child{
            margin-top: -4px;
        }
    }
    &:hover{
        border: 1px solid #f8f9fa;
        background: white;
        display: inline-block;
        ul{ display: inline-block; }
    }
}